[2015-07-28 23:22] dacap opened #1 "Avoid exceptions"
[Here](https://github.com/aseprite/copypaste/commit/64f977cf01bd75bd6789c1046967f27c4f17c4d3#diff-e6d0ef1ba06df4254d19a3f8ed30da6aR25) we're throwing an exception.

Add a lock::locked() member function to know if the clipboard is locked by us and avoid throwing exceptions.

[2015-09-01 14:10] #1 closed

[2016-08-02 13:00] dacap opened #3 "Add support to copy/paste text on Linux"

[2016-08-02 13:00] dacap opened #4 "Add support to copy/paste images on Linux"

[2016-08-02 13:00] dacap opened #5 "Add support to copy/paste custom formats on Linux"

[2017-10-07 11:19] Azure-Vani opened #6 "What is the semantic of "clip::lock"?"
Does the clip::lock freeze the clipboard so that **other** process can not modify the content until clip::lock is destructed? Or it just is the util to manipulate clipboard?

[2017-10-07 14:30] dacap commented on #6
Hi @Azure-Vani, yeah, that should be the expected behavior. Platforms like Windows or macOS provide a way to lock the clipboard temporarily to check its format and then retrieve the data in that format (this must be an atomic operation in a lock/unlock block).

Some of our examples are not 100% correct, like [this](https://github.com/dacap/clip/blob/master/examples/paste.cpp#L8) (they are written

[2017-10-08 03:26] Azure-Vani commented on #6
Cool! I've forked it and try to provide Linux clipboard support based on X11.  :)

[2017-10-08 03:26] #6 closed

[2017-10-08 18:52] dacap commented on #6
@Azure-Vani it would be great! any kind of help you need, please ask

[2018-02-04 02:03] Kerndog73 commented on #3
@dacap Are you planning on implementing this or have you abandoned this project? I'd really like to see this feature.

[2018-02-06 16:02] dacap commented on #3
This is planned and this project is not abandoned. There is [a fork](https://github.com/Azure-Vani/clip) by @Azure-Vani with some progress done, but I think that in a couple of weeks I will start the Linux support from scratch.

[2018-05-05 12:46] darkdragon-001 commented on #3
I just stumbled over [jtanx/libclipboard](https://github.com/jtanx/libclipboard) with an [explanatory blog post](https://jtanx.github.io/2016/08/19/a-cross-platform-clipboard-library/).

[2018-05-05 14:44] dacap commented on #3
Thanks @darkdragon-001, I'll take a look to that later. I wasn't able to work on the Linux port yet, but next week I've plans to work on [Aseprite](https://github.com/aseprite/aseprite) Linux port so the clip library will have some progress on that aspect too.

At the moment there is a behavior on Linux where the clipboard content is stored/provided by the running process that "pasted" content on

[2018-05-09 00:00] dacap commented on #3
I've just started working on this issue in the x11 branch: https://github.com/dacap/clip/tree/x11

[2018-05-11 15:30] #3 closed

[2018-05-11 20:44] dacap commented on #5
Fixed with 5f41f9ade9dfcec0e5c695fafa4e1a16edd5095d

[2018-05-11 20:44] #5 closed

[2018-05-14 10:42] toby20130333 opened #7 "Cann't build this code on Windows 7 VS2015"
Hi
I cann't build this sourcecode on windows 7
get some error  about namespace.

[2018-05-14 10:48] dacap commented on #7
Hi there, could you please include the errors/console output here in this issue?

[2018-05-15 05:16] toby20130333 commented on #7
clip_win.obj : error LNK2005: "public: __thiscall clip::lock::impl::impl(void *)" (??0impl@lock@clip@@QAE@PAX@Z) already defined in clip_none.obj
clip_win.obj : error LNK2005: "public: __thiscall clip::lock::impl::~impl(void)" (??1impl@lock@clip@@QAE@XZ) already defined in clip_none.obj
clip_win.obj : error LNK2005: "public: bool __thiscall clip::lock::impl::clear(void)" (?clear@impl@lock@clip@@QA

[2018-05-15 05:38] toby20130333 commented on #7
I am sorry,It's my fault,I use Qtcreator to build on windows We must remove clip_none.cpp,and built it ok on win7 vs2015
thx

[2018-05-15 05:38] #7 closed

[2018-05-15 12:09] dacap commented on #7
No problem, I'm glad to hear that 👍

[2018-05-15 18:18] #4 closed

[2018-05-17 11:47] dacap opened #8 "Linux/X11: Keep clipboard content alive even when the process is closed"
X11 servers can offer a [clipboard manager](https://www.freedesktop.org/wiki/ClipboardManager/) that support saving all targets into a central authority. When the program exits, we can transfer all the clipboard data to that manager.

[2018-05-17 11:48] dacap opened #9 "Linux/X11: Use `INCR` property to transfer large data"
Check: https://www.x.org/releases/X11R7.6/doc/xorg-docs/specs/ICCCM/icccm.html#large_data_transfers

I'm already working on this one.

[2018-05-17 11:49] dacap opened #10 "Linux/X11: Generate the `image/png` when the image data is requested"
We're generating the image when we call `clip::set_image`, this doesn't make sense (we're consuming CPU for the png compression and maybe the image is never requested by other program).

A possible solution: Just store a copy of the given `clip::image` and convert it to png when some other process asks for the `image/png` format.

[2018-05-23 15:36] #10 closed

[2018-05-26 04:39] bharadwaj-raju opened #11 "Does not compile on Linux (g++ 7.3.1)"
Compiling (either using the provided `CMakeLists` or a custom `g++` command), fails with this error.

Searching about the first error (the `std::function<bool()>` one) suggests that it is because `g++` is set to an old standard, but that is not the case here, since the same error is thrown with `-std=c++11`, `-std=c++14` and `-std=c++17`.

[code]

[2018-05-26 12:58] dacap commented on #11
[Testing gcc 7 on travis](https://travis-ci.org/dacap/clip/builds/384079920) and yeah, and I reproduced this compilation error. I'll try to fix it right now.

[2018-05-26 16:15] bharadwaj-raju commented on #11
Can comfirm fixed. Thanks a lot!

[2018-06-26 18:38] SSBMTonberry opened #12 "clip_x11.cpp is missing #include <functional>"
Hey!
I just downloaded your lib, and it wouldn't compile. I noticed it was complaining about std::function related stuff, so I added

`#include <functional> `

That solved the problem for me.

Cheers!

[2018-06-26 19:00] dacap commented on #12
Hi there! It's strange because this issue should be solved with f8e089dcedc12a1a6046d3142e741ec5d0de923d already, the same issue as in #11. Did you compile the [master branch](https://github.com/dacap/clip/blob/master/clip_x11.cpp#L18)?

[2018-06-26 19:29] SSBMTonberry commented on #12
@dacap You're right. I must have downloaded it some time ago and opened wrong folder when extracting the newest version today. Just tried to delete the current folder, then extract the tar.gz, then try to compile, and it worked. Guess it was a false alarm. Sorry about that.

[2018-06-26 19:33] dacap commented on #12
Don't worry, thanks for reporting the issue 👍

[2018-06-26 19:33] #12 closed

[2018-07-16 19:07] dacap commented on #8
Fixed with e38502e4b7b327fcb44ec9d61ca5f6247b8e351b

[2018-07-16 19:07] #8 closed

[2018-07-20 12:12] dacap opened #13 "Avira antivirus"
Just compiling and executing our examples/tests on Windows will make Avira antivirus detect the `.exe` files as possible threats.

I'm not sure if we can fix this from our side, and this Avira heuristic might depend on how much code is involved in a program (e.g. if there is a visible windows, the detection/notification could disappear, I'm not sure how it works from the Avira side).

[2018-08-01 16:07] dacap opened #17 "New API to create content on demand"
We could provide an alternative API to create the clipboard data on demand (e.g. the Linux port [already does something like this](https://github.com/dacap/clip/blob/09e571a7df4610052d449f6dd1364bb194a83387/clip_x11.cpp#L911-L911) to return the image in `.png` format). I'm not sure, but on Windows we might use the [OLE clipboard API](https://docs.microsoft.com/en-us/cpp/mfc/clipboard-using-the-ole

[2018-08-01 16:25] dacap opened #18 "Try alternative image formats on Windows (CF_TIFF, CF_DIBV5, etc.)"
Give a try to `CF_TIFF`/`CF_DIBV5` formats to copy/paste images with alpha channel between programs like Photoshop, GIMP, Krita, etc.

From: https://steamcommunity.com/app/431730/discussions/0/1846946102842809327/?tscn=1596826214
I'm already trying to implement copy & paste of PNG files using IWICBitmapDecoders/IWICBitmapEncoders to see if we can copy & paste images between Affinity Photo.

[2018-08-06 19:22] dacap opened #19 "Add back support to compile clip for OS X 10.7 platform"
If we run:

    cmake clip-source-dir \
      -G Ninja \
      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.7 \
      -DCMAKE_OSX_ARCHITECTURES=x86_64

Or `-DCMAKE_OSX_DEPLOYMENT_TARGET=10.8`, we will get a compilation error because it will use an old version of libc++ without `std::unique_ptr` (I guess an old version of the GNU libstdc++). This problem disappear if we use the 10.9 SDK.

This problem was intr

[2018-08-06 19:38] #19 closed

[2018-08-31 21:14] FernandoVelcic opened #20 "Add support for file formats like CF_HDROP on Windows"
I think it would be nice to implement the possibility of copy/paste files like Windows allow with CF_HDROP

[2018-12-14 01:15] faraj5599 commented on #13
2

[2019-01-14 14:44] lunu-bounir opened #22 "onchanged observer"
Hello,

I am using your library in my Chrome & Firefox [Clipboard History Manager](https://add0n.com/clipboard-manager.html) extension. It works really well. Thanks! However, in my case, I also need to monitor clipboard changes. Is there any plan to add this functionality? Currently I wrote this module for Mac and Windows myself ;https://github.com/lunu-bounir/clipboard-helper/

[2019-01-21 20:15] jimpark opened #23 "Add Windows DLL support"
Please add the ability to build a Windows DLL for clip.

[2019-01-21 20:50] jimpark opened #24 "Test failure on macOS 10.14.1, Xcode 10.1"
On macOS 10.14.1 (18B75)
Using Xcode 10.1 (10B61)

I get the following warnings and then 2/3 clipboard tests fail.

[code]

[2019-01-22 14:05] dacap commented on #24
Hi @jimpark, could you please check if this problem persists if you specify the `CMAKE_OSX_SYSROOT` explicitly? E.g.

[code]

[2019-01-22 14:06] dacap commented on #22
There weren't plans to add this functionality but it could be a nice option to have this addition available.

[2019-01-22 14:07] jimpark commented on #24
I've been playing with this further and it seems that despite the warnings, if I run each test executable separately, they work fine. I think it has to do with cmake causing all the tests to run together, each blasting at the clipboard at the same time messing things up.

[2019-01-22 14:08] dacap commented on #24
Oh it might be that, how are you running the tests? I'm running them from the command line just with the `ctest` command.

[2019-01-22 14:09] jimpark commented on #24
I'm running them with ctest but they all run at the same time and clobber each other, I think. But if I comment out the other tests in the tests/CMakeLists.txt and run them individually, no problems.

[2019-01-22 14:11] jimpark commented on #24
I'm using the latest cmake and perhaps the ctest command automatically does the -j setting for parallel execution? If there was a way to set the test to run sequentially in the CMakeLists.txt, that would be helpful.

[2019-01-22 14:12] dacap commented on #24
Yeah, that is the issue:

<img width="853" alt="screen shot 2019-01-22 at 11 11 45" src="https://user-images.githubusercontent.com/39654/51541011-8c27da00-1e36-11e9-8f94-494592724e8f.png">

I'll add a note avoid this in the README, that test should be executed in serial order.

[2019-01-22 14:16] dacap commented on #24
I see that there is a [RUN_SERIAL property for test](https://cmake.org/cmake/help/v3.0/prop_test/RUN_SERIAL.html), I'll give a try to that.

[2019-01-22 14:17] jimpark commented on #24
Set RUN_SERIAL to TRUE to the function(add_clip_test_name):
[code]

[2019-01-22 14:17] jimpark commented on #24
That worked for me.

[2019-01-22 14:19] #24 closed

[2019-07-01 13:59] dacap opened #27 "Copied text cannot be pasted to Xed text editor immediately"
I didn't test it yet, but it was reported that the text copied from a program using the clip library, cannot be pasted on the Xed text editor immediately (the text is copied when the program is closed).

[2019-11-15 18:12] AyyKamp opened #28 "clip::clear() and empty_format"
I'm trying to use `clip::has(clip::empty_format())`
I tried the following:

[code]
But it outputs `false` even though directly before I clear the clipboard. Am I doing something wrong?

[2019-11-15 18:36] dacap commented on #28
Hi @AyyKamp! Actually never thought about that possibility (even more, the `empty_format` is almost never used in the whole project). I'll leave this issue open like an opportunity to check if the clipboard is completely empty with `clip::has(clip::empty_format())` as you have used.

In the meanwhile you can use `clip::has(...)` other formats to check if you should enable/disable your options to p

[2020-03-17 19:15] dacap opened #30 "More testing for copy & paste of images between different software"
Specially on Windows.

Check this thread:
- https://steamcommunity.com/app/431730/discussions/0/1846946102842809327/

[2020-08-11 22:30] #18 closed

[2020-08-11 23:36] dacap commented on #30
Related to #18, we can close this issue until some new issue on Windows appears

[2020-08-11 23:36] #30 closed

[2020-08-19 18:31] dandago opened #31 "Write to clipboard not working in KDE"
Hi,

I tried some of the examples, and I noticed that while they can read from the clipboard, it seems that writes fail silently.

I'm using Kubuntu 20.04 LTS, so Linux Ubuntu with KDE desktop.

Here are a few runs to illustrate.

Scenario 1

0. Clipboard had an image before running this
1. Run ./copy test
2. Output is "'test' copied"
3. Run ./paste
4. Output is "Clipboard content is 'Clipboard do

[2020-08-19 18:39] dacap commented on #31
Hi @dandago, the examples on X11 only work if there is a X11 clipboard manager running on your system (I'm not sure if Kubuntu includes one, but I guess that it should). Generally on X11 a program is owner of the clipboard content, and must be running to share the clipboard content when someone want to paste its content in other program. As you can imagine, the command line examples don't keep run

[2020-08-19 18:47] dandago commented on #31
Yeah, `x11_clipboard_manager` is zero, as you thought.

I'll give this a try from an SDL2 window in the next couple of weeks. I suppose that should work fine, if I understood correctly.

[2020-08-19 18:55] dacap commented on #31
That's right, if you keep your app running, it should work. Not sure if there is a X11 clipboard manager available for KDE (maybe Klipper?)

[2020-08-20 12:29] dandago commented on #31
Looks like `clip::set_image()` worked from an SDL2 window.

I really like how the pixel metadata between this library and SDL2 is almost identical, so it's really easy to map between them.

Once I've explored this a bit further, I'll write an article explaining how to map between them (thus adding much-needed clipboard to any SDL2 application), and add clipboard support to my own [Picaxo 2](https:

[2020-08-20 14:15] dandago commented on #31
I managed to implement a paste function (via `get_image()`) into an SDL2 window, but there's a particular case where it didn't work.

KDE has a screenshot application called Spectacle, which has a "Copy to Clipboard" button. After using this, `get_image()`, explodes and I get the following output in the terminal:

[code]

On the other hand, if I copy an image from another application (e.g. KolourP

[2020-08-20 15:40] dacap commented on #31
Thanks for the kind words and the bug report @dandago, I'll take a look to this later. If you can give a try in the debugger that would be great (at least to have the stack trace), but in other case I'll try to take a look to this next week.

[2020-08-20 15:45] dandago commented on #31
I would love to, but I moved to Linux quite recently, and while I can debug C++ in Visual Studio on Windows, I'm not really familiar with how to do that on Linux.

I'm quite happy to learn if you (or someone) could point me in the right direction.

[2020-08-20 15:51] dacap commented on #31
One possible way is using `gdb` from your terminal, it's a terminal debugger, it's not user-friendly but can do the work:
[code]
Then inside gdb you can write `r` command:
[code]
and then the crash happens use the `bt` command to get the backtrace:
[code]

[2020-08-20 15:56] dandago commented on #31
Thanks, here you go:

[code]

[2020-08-20 16:05] dacap commented on #31
Thanks for giving a try! It looks like the files don't have debug information (because there are no line numbers in the clip library code, but I might be wrong). I'll need to take a look to this personally next week with more time and debugging it step by step.

[2020-08-20 16:09] dandago commented on #31
Alright. Maybe that's because I'm static-linking the clip library rather than using it as a git submodule.

[2020-08-20 16:14] dacap commented on #31
Don't worry, the clip library can be compiled only statically, so to enable debug symbols you have to compile your whole project in debug mode (with gcc it's the `-g` flag and not using any kind of optimization like `-O2`).

[2020-08-20 21:32] dandago commented on #31
I've noticed something else that might be related to the crashes I reported earlier.

Typically, if I copy an image from Chromium browser, then paste via the clip library, it will explode. This happens either with the invalid pointer / aborted error when invoking `get_image()` (same as I reported earlier), or else as a segmentation fault shortly after that, when trying to do something with the res

[2020-08-20 22:12] dacap commented on #31
Just in case, you can give a try to two things:

1) try changing this line: `int bufferSize = spec.width * spec.height * spec.bits_per_pixel / 8;` to something like:
[code]

2) try to run the `examples/paste.cpp` to check if it does print the image in the clipboard correctly, or if it crashes.

[2020-08-20 22:14] dacap commented on #31
Other thing (SDL related), is that it looks like the pixel data is not freed automatically (check the [Remarks section here](https://wiki.libsdl.org/SDL_CreateRGBSurfaceFrom)):

So you might use the `img.data()` in the SDL surface.

[2020-09-14 13:22] API-Beast opened #32 "clip/clip_win_wic.h:68:12: error: converting to 'bool' from 'std::nullptr_t' requires direct-initialization"
[code]

https://github.com/dacap/clip/blob/0a961d75f4ffbf3bf24d707cfa66d6bcc1c295be/clip_win_wic.h#L68

When compiling with GCC on Windows. Obvious fix is to return false; instead.

[2020-09-14 13:30] dacap commented on #32
Oh sorry about that, thanks for reporting, I'll fix it just right now.

[2020-09-14 13:32] #32 closed

[2020-09-14 13:34] dacap opened #33 "Check if 4bpp, 3bpp & 2bpp copy & pasting is working on Windows"
Reported here: https://community.aseprite.org/t/pasting-4bpp-3bpp-2bpp-images-broken-in-v1-2-25/6842

[2020-09-14 13:34] dacap opened #34 "Crash when paste images copied from GameMaker sprite editor"
I didn't try to reproduce this yet but it was reported.

[2020-09-14 14:14] API-Beast opened #35 "windowscodecs not linked."
clip_win_wic.h uses functions from the "windowscodecs" library, but this isn't linked in the CMakeLists.txt resulting in "unresolved symbol" errors.

Tested on Windows with GCC 10.2.0.

[2020-09-14 14:23] dacap commented on #35
Hi @API-Beast, what are those specific unresolved symbols (what is the specific output of gcc)? Because the clip_win_wic.h header uses COM objects and those are dynamically linked (COM vtables are just defined with structs in .h files, so there is no need of an extra .lib). I guess that maybe some GUID is defined in a .a library in the gcc/mingw case (e.g. for `GUID_WICPixelFormat32bppBGRA`, etc.)

[2020-09-14 14:27] API-Beast commented on #35
[code]

WICPngDecoder1, WICPngDecoder2, WICPixelFormat32bppBGRA and WICPngEncoder

[2020-09-14 14:29] dacap commented on #35
As I was suspecting, it's related to the undefined GUIDs/CLSIDs. Not sure where they are defined in the MinGW implementation.

[2020-09-14 14:34] API-Beast commented on #35
Hmm, at the very least I can confirm that linking windowscodecs resolves those symbols.

[2020-09-17 12:14] API-Beast opened #36 "clip::lock::get_image sometimes fails to get clipboard data."
In clip_win.cpp::90 `if(IsClipboardFormatAvailable(CF_DIBV5))` succeeds but `GetClipboardData(CF_DIBV5)` fails, returning a null pointer. This will result in a crash with a "Image format not supported" exception. Calling locked() on the lock also returns true.

Using clip::get_image(img) directly works properly? Which is weird since those functions also use locks internally.

---------------------

[2020-09-17 13:50] dacap commented on #36
Hi there @API-Beast, what program are you trying to copy from? can you share the code? I see that the example or even clip::get_image() check for clip::lock::is_convertible(image_format()) first, so that might be the reason because the exception is not throwing in the example.

[2020-09-18 13:33] dacap commented on #36
After a chat with @API-Beast it looks as a problem of double-locking the clipboard when mixing the high-level API (which use a lock on each call) and the low-level API (the lock itself). E.g.

[code]

This cannot be done. The high-level API is meant to be used when we don't care about locks, but mixing both APIs will not work.

[2020-09-18 13:33] #36 closed

[2020-09-18 13:50] dacap opened #37 "Report error about double-locking the clipboard"
Related to https://github.com/dacap/clip/issues/36#issuecomment-694870455 , see if it's possible to check for a double-lock. Maybe using a new error code `clip::error_handler(ErrorCode::DoubleLock)`.

[2020-09-28 14:39] #34 closed

[2020-10-13 13:55] #35 closed

[2020-10-24 07:00] lunu-bounir opened #38 "option to exclude image support"
In my application, I only need to copy and paste text content. Is it possible to remove the compiling of `image.cpp` to reduce the dependencies and size?

[2020-10-24 11:04] dacap commented on #38
Hi there @lunu-bounir, sure, we could add some option in the CMakeLists.txt to exclude the image support. I'll take this next week.

[2020-10-24 11:46] lunu-bounir commented on #38
@dacap great!

btw, is it possible to generate `MT_StaticRelease` instead of `MD_DynamicRelease`

[code]

[2020-10-24 12:15] dacap commented on #38
You can use the https://cmake.org/cmake/help/v3.19/variable/CMAKE_USER_MAKE_RULES_OVERRIDE.html for that in your own project.

You can check an example:
https://github.com/aseprite/laf/blob/9c3092901416ed0aef85b49f33ad514c7988cfa4/CMakeLists.txt#L7
https://github.com/aseprite/laf/blob/master/cmake/c_flag_overrides.cmake
https://github.com/aseprite/laf/blob/master/cmake/cxx_flag_overrides.cmake

Al

[2020-10-24 13:38] lunu-bounir commented on #38
I don't seem to be able to make it work. Based on your suggestion I use:

[code]
Used in:
[code]

Here is the error I get
[code]

[2020-10-25 10:38] ArturKovacs commented on #31
Hi! As @jonasmalacofilho's reference shows, we encountered this [issue](https://github.com/ArturKovacs/arboard/issues/4) in `arboard` the linux implementation of which is essentially a port of the linux implementation of `clip`. As a test, @jonasmalacofilho removed the condition for a non-zero clipboard manager id from [here in arboard](https://github.com/ArturKovacs/arboard/blob/2f3fde214745c09ed

[2020-10-25 22:57] dacap commented on #31
Hi there! It passed some time since I've implemented this code so I'm not sure 100%. From the [freedesktop clipboard spec](https://www.freedesktop.org/wiki/ClipboardManager/) it says:

Anyway there is a bug in my code, I'm not checking if there is or not a clipboard manager present, I'm checking if there is a owner of the CLIPBOARD_MANAGER selection (which probably, if it's empty the X11 server co

[2020-10-25 23:01] dacap commented on #38
🤔  I'm not sure about this one, I should give a try on my Windows notebook.

You can take a look to your `CMakeCache.txt` file in the build directory and check the values of `CMAKE_CXX_FLAGS` and `CMAKE_CXX_FLAGS_RELEASE` (maybe CMAKE_CXX_FLAGS_RELEASE is using `/MD`). You could try editing the file manually to use the proper flags in `CMAKE_CXX_FLAGS_RELEASE:STRING=...` (or just replace `/MD` by

[2020-10-26 09:58] lunu-bounir commented on #38
Thanks @dacap, I'll figure it out.

[2020-10-28 18:21] agudpp commented on #35
@dacap I'm having some similar issues, letting the problem here since it is related, I'm using `mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0` on windows.
Neither `CLSID_WICPngDecoder2` nor `CLSID_WICPngDecoder1` are in `#include <wincodec.h>` so it doesn't compile:
[code]
I have to change the code to use `CLSID_WICPngDecoder` in order to compile. The lib compiles fine, but the tests fails with the

[2020-10-28 18:26] dacap commented on #35
Hi @agudpp! It looks that you have an older version mingw64-headers (link of [latest wincodec.h](https://github.com/mirror/mingw-w64/blob/12b5d1344c23c5fdba7fb2c771d0476c2220db16/mingw-w64-headers/include/wincodec.h#L6185)).

Anyway I cannot help too much because I wasn't able to test this change (I don't have the latest MinGW 64 version, available, nor sure where to find it, also I'm not sure wha

[2020-10-28 18:32] API-Beast commented on #35
Currently the best way to install MinGW is via [MSYS2](https://www.msys2.org/).

[2020-10-28 18:33] agudpp commented on #35
hi @dacap thanks for the fast reply. Interestingly I assumed was the latest version of mingw since I downloaded from the official website.
I will check it with a new version I'm downloading from Qt and let you know!

cool project btw :)

[2020-11-17 17:50] kard02 commented on #23
If it helps somebody, I made [this](https://github.com/kard02/clip). It is not tested (yet) and I don't think it's good enough for PR, but maybe it will save someone's time.

[2021-02-14 16:32] titicplusplus opened #40 "indefinite reference to « clip::set_text(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&) »"
Hi,

When I compile my code, with this line :
`g++ text.cpp curseur.cpp main.cpp -o editeur -lsfml-network -lsfml-audio  -lsfml-graphics -lsfml-window -lsfml-system`

my file is :

      #include <SFML/Graphics.hpp>
      #include <SFML/System.hpp>
      #include <unistd.h>
      #include <iostream>
      #include <SFML/Window.hpp>

      #include <string>

      #include "text.hpp"
      #include

[2021-02-23 18:20] dacap commented on #40
Hi @titicplusplus, you have to link your program with the clip library e.g. specifying `-lclip` in the command line.

[2021-02-27 11:19] titicplusplus commented on #40
ok, thank you it's work

[2021-03-01 10:44] loudoweb opened #41 "question: how to get data like html or svg"
Hi,
I would like to get the html text and not the raw text. How I can dot that? I also would like to get data from graphic software (like photoshop) which I suppose is svg (but I'm not sure).

I tried to register with the following mime type without success (`is_convertible` returns false):
[code]

Is there a way to get these formats?

Also, is it possible to get the list of the current formats in

[2021-03-01 13:28] loudoweb commented on #41
Just a little update about html format. I found that the correct format for html should be `HTML Format` and not `text/html`. But length is 0, so still unusable.
[code]

[2021-03-03 11:32] loudoweb commented on #41
I can get the html using directly windows api:
[code]
With the CLIP api, I've made little progress, it seems that the clipboard wasn't opened (or something like that) but now instead of having `get_data_length` giving **0**, the assertion fails `len <= total_size, file ..\clip_win.cpp, line 387`

Finally, in Windows I found that it is possible to list the current formats stored in the clipboard (i

[2021-03-03 11:37] dacap commented on #41
Hi @loudoweb, actually the API doesn't give the possibility to list all formats, but it's something I needed in the past for debugging purposes and I would like to create a little app to check the clipboard content in detail. So it's something I would like to add.

About the html format. The `get_data_length()` function returns 0 because it returns the required data size depending on the format (t

[2021-03-03 11:45] loudoweb commented on #41
Thanks for your answer @dacap .
So if I can't use `get_data_length` to get the length, how could I use `get_data `?

[2021-03-03 12:09] dacap commented on #41
At the moment the API is not made for general purpose clipboard content. So it's something to implement.

[2021-03-10 09:00] github357 opened #42 "how to save image to file?"
i get bmp image from clip , but how to save this image to file, in  windows???

[2021-03-20 14:47] laddershoe opened #43 "Crashing in read_png() with RGB images on X11"
Hey, I ran into an issue (on Ubuntu) that seems related to some stuff in #31.

When I copy an RGB image (I've been testing with [Lena](http://optipng.sourceforge.net/pngtech/img/lena.html)), Firefox will copy it as RGBA, and clip handles it fine. Chrome will copy it as RGB, and clip crashes somewhere inside `png_destroy_read_struct()`. I can reliably repro this inside the `show_image.cpp` example

[2021-03-22 11:50] dacap commented on #42
Hi @github357, actually this library doesn't support saving images to disk (officially / with its public API), but on Windows you could see (include) the `clip_win_wic.h` file and use the [`clip::win::write_png()` function](https://github.com/dacap/clip/blob/f13c9656d51482c1908c9a551ce76f9450b7bd55/clip_win_wic.h#L142) as an example for your own code to write png files to disk.

[2021-03-22 11:50] #42 closed

[2021-03-22 11:54] dacap commented on #43
Hi @laddershoe, thanks for the bug report (and I'm glad the library is useful for you :heart:)

I'll take a look to this issue right now, I was able to reproduce it with the memory sanitizer on (-fsanitizer=address).

[2021-03-22 12:36] dacap commented on #43
This issue should be fixed now in the main branch :+1:

[2021-03-22 12:36] #40 closed

[2021-03-22 13:48] dacap commented on #31
[I've just simplified (fixed) the code](https://github.com/dacap/clip/commit/1e262be75e448e575581e267904a8ec78bbc6991) to check the existence of the clipboard manager, wasn't able to test on KDE, but if someone can confirm that would be great 🙌

[2021-03-25 10:46] lzzy12 commented on #22
Is there any planning or work being done on this feature?

[2021-03-25 21:29] dacap commented on #22
I didn't start working on this one and maybe will not work on this for sometime. Anyway any kind of discussion/help about the API or the implementation is welcome 👍

[2021-04-18 18:25] laddershoe commented on #43
Just realized (to my embarrassment) that I never closed the loop on this... this is confirmed fixed for me. Thanks so much, and if you have a link where I can throw you a couple of bucks, I'd be happy to do so :)

[2021-04-18 22:22] dacap commented on #43
Thank you for reporting this bug, and don't worry, I don't have a link for donations but if someday you want to collaborate with us we have a program using this library: https://www.aseprite.org/

Probably in the future if GitHub add sponsorship support for Argentina, I'll be able to enable it.

[2021-04-21 20:03] krivahtoo commented on #31
It doesn't work on my KDE

[2021-04-21 20:37] dacap commented on #31
Thanks for the informatin @krivahtoo, if someone can debug this issue that would be great. Anyway in a future I'll debug it on a VM.

[2021-05-02 18:47] Aze1337 opened #44 "Did I install it wrong?"
Hey there! my first time trying a c++ library, I could "#include "clip.h" and write some code but I get those two errors
![image](https://user-images.githubusercontent.com/76887650/116823909-400b8a00-ab55-11eb-89de-4eea34f6e0e8.png)
this is the code im trying to run
![image](https://user-images.githubusercontent.com/76887650/116823918-4ac61f00-ab55-11eb-9a33-bbc38f5abdcb.png)
anyone know what im d

[2021-05-03 13:02] dacap commented on #44
Hi @Aze1337, you need to link your `.exe` with the `clip.lib`.

You can see an example in the Wiki with cmake: https://github.com/dacap/clip/wiki#how-to-use-it

I hope it helps!

[2021-05-03 19:47] Aze1337 commented on #44
Hello @dacap Thank you a lot for your response!

I'm still unsure how to do it - I've followed this https://en.wikibooks.org/wiki/C%2B%2B_Programming/Compiler/Linker/Libraries/Configuring_Visual_Studio
![image](https://user-images.githubusercontent.com/76887650/116924614-2128f880-ac26-11eb-9827-c6f7db5e3dd9.png)

I have put this folder path here,
![image](https://user-images.githubusercontent.com/

[2021-05-03 19:51] dacap commented on #44
You've configured the directories but didn't specify the clip.lib as an input to the linker (check the Linker > Input), anyway I don't remember the Visual Studio settings, but I think there should be the field to add the clip.lib as an input to the linker.

[2021-05-03 20:09] Aze1337 commented on #44
just specified it there
![image](https://user-images.githubusercontent.com/76887650/116927547-cf826d00-ac29-11eb-90dc-ce50f4474f07.png)

less errors now but still not sure what else to do
![image](https://user-images.githubusercontent.com/76887650/116927608-e032e300-ac29-11eb-8a25-5b977f5d3085.png)

[2021-05-03 20:13] dacap commented on #44
Oh sorry about that, you have to link to `shlwapi.lib` too (add that file in the additional dependencies field too).

Generally clip is made to be used with cmake (so dependencies are included automatically), so this manual configuration is not expected in the regular use case, but in your case, you will need to specify the dependencies manually.

[2021-05-03 20:16] Aze1337 commented on #44
Thank you very much for your help! I can compile & run just fine :D

[2021-05-03 20:17] #44 closed

[2021-05-07 12:32] krivahtoo commented on #31
@dacap, It finally works 👍, I think there was a problem with my KDE, or something

[2021-05-07 14:27] dacap commented on #31
Thanks for the answer @krivahtoo, I'll close this issue, in case that someone else has a problem with KDE with can re-open it.

[2021-05-07 14:29] #31 closed

[2021-06-21 23:37] dacap opened #45 "New Windows clipboard API?"
Follow the discussion from: https://github.com/microsoft/ProjectReunion/discussions/374

There are some interesting points as the possibility to hide the clipboard data from uploading the content to the cloud/history: https://docs.microsoft.com/en-us/windows/win32/dataxchg/clipboard-formats#cloud-clipboard-and-clipboard-history-formats
I think we should expose some API to offer this possibility.

[2021-08-09 09:19] Creapermann opened #46 "xcb.h not found / Linux needs xcb library"
I pulled the clip library and tried to compile it, but in "clip_x11.cpp" i m getting an error including the #include <xcb/xcb.h>. How should i fix this? i find no file called "xcb.h" in this repo

[2021-08-09 10:34] dacap commented on #46
Hi @Creapermann, the xcb.h header file is included in the xcb library. I think this library is in libx11-dev, libX11-devel, or libx11 packages of your Linux distro.

[2021-08-09 10:36] Creapermann commented on #46
@dacap so i need to get a Extertal library ?

[2021-08-09 10:39] dacap commented on #46
You need the base libraries used to develop X11 applications (X11 and xcb are the lowest common denominators for GUI apps on Linux, they are like the libc for the UI, which is other dependency almost all programs need).

[2021-08-10 23:09] #46 closed

[2021-08-10 23:19] Creapermann opened #47 "Getting linking error on building"
I m compiling like usual and linking a library (checked the linking and including like 3 times) but i get this error:

clip.lib(clip_win.obj) : error LNK2019: unresolved external symbol __imp_SHCreateMemStream referenced in function "bool __cdecl clip::win::read_png(unsigned char const *,unsigned int,class clip::image *,struct clip::image_spec *)" (?read_png@win@clip@@YA_NPEBEIPEAVimage@2@PEAUimag

[2021-08-10 23:22] dacap commented on #47
Hi there :wave: you need to link your .exe with `shlwapi.lib` library, we include that library in our CMakeLists.txt:

https://github.com/dacap/clip/blob/a65a9e543e9a270bb7c58789d15d027bbd8efb2a/CMakeLists.txt#L68

If you are using cmake that shouldn't be a problem. How are you building/linking your program?

[2021-08-11 07:49] Creapermann commented on #47
I m not working with cmake, i m using the vs19 build system. Where can i get "shlwapi.lib"  from?

[2021-08-11 19:06] Creapermann commented on #47
@dacap, tried multiple versions of that .dll file, nothing works. Do you have an idea?

[2021-08-11 19:11] dacap commented on #47
You have to add "shlwapi.lib" in the same place where (e.g.) user32.lib is included. In the *project properties > Configuration Properties > Linker > Input > Additional Dependencies*

[2021-08-11 20:59] Creapermann commented on #47
oh so i just need to link it?

[2021-08-11 21:01] dacap commented on #47
Yes

[2021-08-11 21:01] Creapermann commented on #47
Its all working, thanks!

[2021-08-11 21:01] #47 closed

[2021-08-12 15:02] Creapermann opened #48 "Get data from clipboard?"
I checked out the existing functions the clip:: namespace has but i couldnt find anything which would get for example the first entry of the clipboard into string.
Does anything like this exist, if yes how is it called and how would I use it?
Do i need another library for it?

Thanks in advance.

[2021-08-13 10:30] Creapermann commented on #48
@dacap any idea?

[2021-08-15 19:45] tree786 opened #49 "Fails to build on Manjaro ('undefined reference ..')"
Hallo

I have followed instruction to build the lib on manjaro, and I have dependcy libX11 installed, however when I try to compile a simple example ([here](https://github.com/dacap/clip#example) ) I get this error when using `make` command:
[code]
I am not sure what that mean or how to fix it? I also have tried to build on deepin, but i get same error.

btw here is my cmakelists file as well:
[co

[2021-08-17 13:17] tree786 commented on #49
i seem to have fixed the issue by making changes to my cmake file:
[code]

and it now works. Closing this.

[2021-08-17 13:17] #49 closed

[2021-09-05 18:44] Akaame commented on #48
Hello,

Does not `get_text` cut it or am I missing something in your problem statement?

[2021-09-06 10:37] wcyat opened #50 "undefined reference"
I compiled using g++:
[code]

[2021-09-21 12:00] aqvale opened #51 "Error in 'CLSID_WICPngDecoder2'"
I am try test the copy and paste text using your library, but it happens this error. I am using Windows 10 with MinGW compiler.
How to fix this?
error: 'CLSID_WICPngDecoder2' was not declared in this scope; did you mean 'CLSID_WICPngDecoder'?
  175 |   HRESULT hr = CoCreateInstance(CLSID_WICPngDecoder2,
      |                                 ^~~~~~~~~~~~~~~~~~~~
      |

[2021-11-20 11:13] #48 closed

[2021-11-20 11:25] Creapermann opened #52 "fatal error: wincodec.h: No such file or directory wincodec.h"
Hey, i m trying to build your library on windows, i've previously did it on linux and everything worked fine, when i build it right now i get this error tho:

[code]

[2021-11-29 20:56] dacap commented on #52
Hi @Creapermann, it looks in #47 that you have compiled the clip library before on Windows. Did you change the compiler? Are you using Visual Studio? the wincodec.h header file should be included with the Windows SDK.

[2021-12-27 00:22] vezaynk opened #53 "get_text not working on GitHub codespaces"
I'm trying this library out on GitHub codespaces. I installed Xvfb to provide an X11 server.

Pasting doesn't seem to work.

[code]

[2022-01-10 11:41] azertyalex opened #54 "Custom formats"
I'm trying to write other formats to the clipboard for example `image/jpeg` or  `image/jpg` but pasting anywhere does not result in a jpeg being pasted.

code:
[code]

I also tried hacking it in by getting the atom for image/jpeg  and editing https://github.com/dacap/clip/blob/main/clip_x11.cpp#L257 so that m_data always sets a jpeg regardless of me calling a set_data with the text/plain atom. But

[2022-01-10 14:49] azertyalex commented on #54
It seems I can put anything into "image/jpeg".
[code]

But using my own custom schemes do not result in anything, which is a shame because I need to set `text/uri-list`

[2022-01-10 15:00] dacap commented on #54
Hi @azertyalex, I think it should work, but you should copy the binary data just exactly as it is (don't use getline() because it is suited only for text-based data and might modify the final result).

[2022-01-10 15:43] dacap commented on #54
On X11, the clipboard is shared directly between programs that owns the clipboard and the one that ask for its content, anyway when the program that own the clipboard selection is closed, it can decide if transfer its data to a possible clipboard manager (if it's available): https://github.com/dacap/clip/blob/c46c49141f72dd753b260eea4e6d7b37413f0ff6/clip_x11.cpp#L122

The selection manager and the

[2022-01-10 15:53] azertyalex commented on #54
I actually do not need a clipboard manager. I just made an example for debugging purposes. I'm using clip.h in a remote browsing situation, and my browser will always be running :)

Thanks for the help!

[2022-01-15 20:53] federico-terzi commented on #27
Hey @dacap,

First of all, thank you for the great work! One of my users is currently experiencing the same issue, do you have any idea on what might be causing it? So far, what I can tell is that:

* The application hangs if the clipboard is copied with `clip`, and the operation takes multiple seconds
* If we use the `xclip` command line utility instead, the clipboard operation works instantaneou

[2022-01-16 15:47] dacap commented on #27
Hi @federico-terzi, I'll take this issue next month with more free time, I'll try to debug the `Xed` text editor and some `clip` example to check where everything hangs.

[2022-01-17 18:29] federico-terzi commented on #27
@dacap Thanks! I'll make sure to update the issue if I discover something new :)

[2022-04-06 11:03] joeyes86 opened #57 "Paste from clipboard delay on Linux"
In linux, after placing the text in the clipboard (`clip::set_text`) and then trying to paste the text (for example, in Text Editor) manually from the clipboard, the insertion occurs with a large delay (half a minute). At the same time, if you terminate the application that called `set_text`, the copied text is inserted from the clipboard instantly.

[2022-04-06 11:11] dacap commented on #57
Hi @joeyes86, it looks like a specific problem when interacting with Text Editor app (gedit), I've tried terminal or emacs and it works correctly. There is something to fix.

[2022-04-06 12:18] #57 closed

[2022-04-06 13:49] joeyes86 commented on #57
Wow, that was fastest response what I've seen! Thanks a lot!

[2022-04-16 08:22] hansemro commented on #31
In case someone is having issues with images failing to get copied in KDE, uncheck "Ignore images" in KDE clipboard manager (Klipper) settings. https://github.com/hansemro/GDClip/issues/6#issuecomment-1100604247

[2022-06-06 07:36] TheDonsky opened #58 "Question: Is this library thread-safe?"
Hello, I basically want to know if the library is thread-safe or not (I mean within the same application; inter-process will obviously be safe)

[2022-06-06 13:26] dacap commented on #58
Hi there @TheDonsky, this library is not thread safe in the way that using it at the same time from multi-threads will bring problems.

Anyway I'm not 100% if all 3 implementations would fully work if you use both APIs ([low level and high level](https://github.com/dacap/clip/wiki/API)) from the non-main (non-UI) thread (i.e. the thread running with the main message loop of events).

[2022-06-06 15:13] TheDonsky commented on #58
Hi again, huge thanks for the information and the fast response.

I'll add a 'global clipboard lock' to my project.

As a side note, so far I've tested only on windows without any UI and will need to make it work on Linux too. Mac OS is not my priority for now. And in both those cases, I have a manually created thread managing the Window with no problems so far (If I'm not mistaken, you can even h

[2022-07-10 23:05] ToniLipponen opened #60 "Fails to compile on Windows with MinGW"
Trying to compile this on Windows with MinGW gives me "Error: undefined reference to GUID_WICPixelFormat32bppBGRA"

[2022-09-13 18:47] dacap commented on #60
Hi @ToniLipponen just in case, I've added an automatic compilation with msys2/mingw, and it looks like the library works as it is: https://github.com/dacap/clip/actions/runs/3047549295

Anyway it took me some time to get it right (I'm not used to the new [msys2 installer](https://www.msys2.org/) and all the mingw64,32ucrt64,etc. possibilities, but get it working after all).

I'm closing this issue

[2022-09-13 18:48] dacap commented on #52
I'm closing this issue because more information is needed (used compiler, and if the Windows SDK was installed). At the moment our CI is working with MSVC, msys2/mingw: https://github.com/dacap/clip/actions/runs/3047549295

[2022-09-13 18:49] #58 closed

[2022-09-13 18:50] #54 closed

[2022-09-13 18:53] dacap commented on #53
Hi @knyzorg was you able to make it work? Did you try running "xvfb-run ./paste"?